* {
  box-sizing: border-box;
}

html {
  --bg: rgb(144, 171, 182);
  --fg: #25282A;
  --gray: #888;
  --royal: #0072CE;
  --blue: #6AD1E3;
  --primary: #D1CCBD;
  --secondary: var(--royal);
  --tertiary: #FF585D;

  background-color: var(--bg);
  color: var(--fg);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: calc(.65em + 0.7vw);
  line-height: 1.3;

  ::selection {
    background: var(--secondary);
    color: var(--bg);
  }

  @media (prefers-color-scheme: dark) {
    --bg: rgb(144, 171, 182);
    --fg: #fff;
    --secondary: var(--blue);

    ::selection {
      background: var(--secondary);
      color: var(--fg);
    }
  }
}

body {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 60em;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.highlight {
  align-items: center;
  display: flex;
  margin-bottom: 0.5em;
  width: 100%;
  label {
    margin-right: 0.5em;
  }
  input {
    caret-color: var(--secondary);
  }
}

label {
  color: var(--gray);
}

button, .highlight {
  // border-radius: 5px;
  border-color: transparent;
  // border: 0.1em solid var(--primary);
  // padding: 0.5em 1em;
  text-align: left;

  // &:hover, &:focus, &:focus-within {
  //   border-color: var(--secondary);
  // }
}

input {
  border: none;
  flex: 1;
  &:read-only {
    color: var(--primary)
  }
}

input[type="number"] {
  text-align: center;
  border: 0.1em solid var(--primary);
  margin: 4px;
  border-radius: 4px;
  width: 4em;
  padding-left: 0.5em;
  &:hover, &:focus {
    border-color: var(--secondary);
  }
}

button, input {
  background: transparent;
  color: rgb(80, 77, 77);
  cursor: pointer;
  font: inherit;
  outline: none;
}

button {
  position: relative;
  transition: top 50ms;
  &:hover{
    top: -1px;
    color: black;
  }
  &:active {
    background: transparent;
    border-color: transparent;
    top: 1px;
  }
}

.is-premium {
  border-left: 0.25em solid var(--secondary);
  padding-left: 0.25em;
  margin-left: -0.5em;
}

a:link, a:visited {
  background-color: #455363;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;

  &:hover, &:focus, &:focus-within {
    border-color: var(--secondary);
  }
}

.bookname {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}

.bookauthor {
  font-style: italic;
  font-size: 18px;
}

.bookintro {
  font-size: 16px;
}



// <style>
// * {
//   box-sizing: border-box;
// }

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #f1f1f1;
  text-align: left;
  font-size: 25px;
  color: 777;
  margin-top: 0px;
    margin-bottom: 0px;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

.content {
  float: left;
  width: 100%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #f1f1f1;
  text-align: left;
  color: 777;
}

.top {
  display: flex;
  justify-content: space-between;
  background-color: #455363;
}

.top.wrapper > div {
  flex: 1;
}

.box {
  display: flex;
  justify-content: space-between;
}

.box2 {
  background-color: black;
}

.top-right {
  background-color: #455363;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;

  &:hover, &:focus, &:focus-within {
    border-color: var(--secondary);
  }
}

.bookItem{
  background-color: #ddb15e;
  margin-top: 0px;
}

.reviewItem{
  background-color: #a0e280;
  margin-top: 0px;
  margin-bottom: 10px;
}

.btn2 {
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #4b4646;
  display: inline-block;
  padding: 2px 8px 2px 8px;
  position: relative;
  border: 2px solid #2c2929;
  background-color: #a0e280;
  border-radius: 4px;
}

#noNear {
  border: 1px solid #2c2929;
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
  width: 60px;
  padding-left: 6px;
  &:read-only {
    color: var(--primary)
  }
}